<h1>This is the secret page!!</h1>

<p>You found me!!</p>

<img width="500px" src="https://www.historic-uk.com/wp-content/uploads/2018/11/churchill-2800x1440.jpg" alt="">


<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>